/*VARIAVEIS*/
:root{
--prymary-color: #047380;
--sencundary-color:#3ca6a6;
--text-color:#024959;
--button-houve: #012e40;
--font-body: "chocolate calassical sans", serif;
--font-titulo:"rakkas", serif;
}

/*RESET */
*{
mrgin: 0;
padding: 0;
box-sizing: border-box;
front-family: var(--font-body);
}

/* CORPO DA PAGINA*/
body{
background-color: var(--background-color);
color: var(--text-color);
line-height: 1.6;
}
h3{
margin-top: 25px
}

p{
margin-top: 20px
}

img{
max-width: 90%;
}